streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.6
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
pandas~=1.5.2
supabase~=0.7.1
mplsoccer==1.1.9
seaborn==0.12.1
numpy~=1.23.5
plotly~=5.11.0
matplotlib~=3.6.2
Pillow~=9.2.0
highlight-text==0.2.0
altair==4.0
